!!! 5
meta(charset="utf-8")
title life game
style.
  body {
    background: #000;
    margin: 0;
    padding: 0;
  }
  canvas {
    display: block;
    margin: 0 auto;
  }

canvas#world

script(src="tmp.js")
